# latest release is OLD! Use a much newer commit instead
stable-ts==2.19.1
demucs==4.0.0
# TODO: this is a workaround for https://github.com/replicate/cog/issues/1448
# We have to add an explicit dependency on torch 2.0.1 (this exact version!) to
# make sure Cog knows to include CUDA.
torch==2.0.1